<div class="px-10p">
  <h1 class="text-lg font-bold">
    About
  </h1>
  <p class="text-sm">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil pariatur tempora explicabo accusamus temporibus sed molestiae sequi! Soluta nisi, unde sed animi saepe earum eligendi, dolorum id voluptas architecto facere?
  </p>
  <p class="text-sm">
    Numero de Clientes: <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/> 
  </p>
  <div>
    <!-- <app-wave-audio audioUrl="assets/rock.mp3" /> -->
  </div>
</div>

